<p-dialog
  [visible]="visible()"
  [style]="{ width: '450px' }"
  header="{{ 'questionModule.questionListPage.details' | translate }}"
  [modal]="true"
  styleClass="p-fluid"
  [closable]="false"
>
  <ng-template pTemplate="content">
    <form [formGroup]="questionForm">
      <fieldset disabled>
        <div class="mb-3 field">
          <label for="Title" class="form-label">{{
            'questionModule.questionListPage.question-title' | translate
          }}</label>
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            id="Title"
            formControlName="title"
            class="form-control disabled"
          ></textarea>
        </div>
        <div class="mb-3 field">
          <label for="Status" class="form-label">{{
            'questionModule.questionListPage.status' | translate
          }}</label>
          <input
            type="text"
            pInputText
            id="Status"
            formControlName="status"
            required
            autofocus
            class="form-control"
          />
        </div>

        <div class="mb-3 field">
          <label for="priority" class="form-label">{{
            'questionModule.questionListPage.priority' | translate
          }}</label>
          <input
            type="text"
            pInputText
            id="priority"
            formControlName="priority"
            required
            autofocus
            class="form-control"
          />
        </div>

        <div class="mb-3 field">
          <label for="categories" class="form-label">{{
            'questionModule.questionListPage.question-categories' | translate
          }}</label>
          <input
            type="text"
            pInputText
            id="categories"
            formControlName="categories"
            required
            autofocus
            class="form-control"
          />
        </div>
        <div class="mb-3 field">
          <label for="Comment" class="form-label">{{
            'questionModule.questionListPage.comment' | translate
          }}</label>
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            id="Comment"
            formControlName="comment"
            required
            autofocus
            class="form-control"
          ></textarea>
        </div>
      </fieldset>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <ng-container *ngIf="approvalEnabled()">
      <button
        pButton
        pRipple
        label="{{ 'questionModule.Comment.accept' | translate }}"
        icon="pi pi-times"
        class="p-button-text"
        (click)="approve()"
      ></button>
      <button
        pButton
        pRipple
        label="{{ 'questionModule.Comment.reject' | translate }}"
        icon="pi pi-ban"
        class="p-button-text"
        (click)="reject()"
      ></button>
    </ng-container>

    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hide()"
    ></button>
  </ng-template>
</p-dialog>
