<div>TranchyOne</div>
<div class="flex">
    <div>
        <a [routerLink]="['/']">{{ 'menu.dashboard' | translate }}</a>
        <a [routerLink]="['/setting']">{{ 'menu.setting' | translate }}</a>
    </div>
    <div>
        <div>Welcome, {{user.name}}</div>
        <div>
            <p-button *ngIf="!user.isLoggedIn" type="button" (onClick)="login()">LogIn</p-button>
            <p-button *ngIf="user.isLoggedIn" type="button" (onClick)="logout()">Logout</p-button>
        </div>
    </div>
</div>